<template>
  <div class="translateResult">
    <h4>{{translatedText}}</h4>
  </div>
</template>

<script>
export default {
  name: 'translateResult',
  data () {
    return {
      hh: 'nihoa'
    }
  },
  props: ['translatedText']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
