<template>
  <div class="translateForm">
    <div class="row jumbotron">
      <form v-on:submit="translateSbumit" class="form-inline col-md-6 col-md-offset-3">
        <input class="form-control" type="text" v-model="translateText" placeholder="输入您想翻译的内容">
        <select class="form-control" v-model="language">
          <option value="en">English</option>
          <option value="ru">Russian</option>
          <option value="ko">Korean</option>
          <option value="ja">Japanese</option>
        </select>
        <input class="btn btn-default" type="submit" value="翻译">
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'translateForm',
  data () {
    return {
      translateText: '',
      language: 'en'
    }
  },
  methods: {
    translateSbumit (e) {
      // alert(this.translateText)
      this.$emit('translateText', this.translateText, this.language)
      e.preventDefault()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
