<template>
  <div id="app">
    <h1>E_cat翻译</h1>
    <h5 class="text-muted">稳定 / 酷炫 / 高效</h5>
    <translate-form @translateText="needTranslateText"></translate-form>
    <translate-result :translatedText="translatedText"></translate-result>
    @ Use <a href="https://tech.yandex.com/translate/doc/dg/reference/translate-docpage/" target="_blank">Yandex Translate Api</a>
  </div>
</template>

<script>
import TranslateForm from './components/TranslateForm'
import TranslateResult from './components/TranslateResult'

export default {
  name: 'app',
  components: {
    TranslateForm,
    TranslateResult
  },
  data () {
    return {
      translateText: '',
      translatedText: ''
    }
  },
  methods: {
    needTranslateText (text, language) {
      this.$http.get('https://translate.yandex.net/api/v1.5/tr.json/translate?key=trnsl.1.1.20170915T013622Z.8f659f30c91383f8.5513a7aa42f7e7043f226f3434eefa2b63a3fb8a&lang=' + language + '&text=' + text)
      .then((response) => {
        console.log(response.data.text[0])
        this.translatedText = response.data.text[0]
      })
      .catch(function (response) {
        console.log(response)
        this.translatedText = '请输入需要翻译的内容'
      })
      // console.log(translateText)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
